.page-wrapper {
  background-color: #221a00;
  margin: 1vh 2vw;
  padding: 1vh 5vw 2vh;
}

.page-body {
  background-color: #271e00;
}

.header {
  padding: 1vh 2vw;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .page-wrapper {
      margin: 6vh 10vw 0;
  }
}

@media only screen and (min-width: 1025px) {
  /* For desktop: */
  .page-wrapper {
      margin: 6vh 20vw 0;
    
  }
}