.filter {
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .filter {
        justify-content: left;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .filter {
        justify-content: left;
    }
}
