.Item {
    padding: 1vh  1vw;
    margin: 1vh 0;
    border-bottom: #221a00 4px solid;
    display: grid;
    grid-template-columns: .05fr .2fr .5fr .2fr .05fr ;
    grid-template-areas: 
    "del img desc quant price";
    align-content: space-between;
    justify-content: space-around;
    border-bottom: 2px solid rgba(255, 255, 255, 0.479);
}

.MaterialIcons {
    cursor: pointer;
    user-select: none;
}

.CardThumbnail img {
    max-height: 50px;
}

.Remove {
    grid-area: del;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto; 
}

.CardThumbnail {
    grid-area: img;
    display: flex;
    align-items: center;
}

.CardDescription {
    grid-area: desc;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto 0; 
}

.CardQuantity {
    grid-area: quant;
    display: flex;
    align-items: center;
    margin: auto;
}
.CardAmount {
    grid-area: amt;
    display: flex;
    align-items: center;
    margin: auto;
}

.CardPrice {
    grid-area: price;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: auto;
}




@media only screen and (min-width: 600px) {
    /* For tablets: */       
    .CardThumbnail img {
        max-height: 100px;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .CardThumbnail img {
        max-height: 130px;
    }
}