.Item {
    margin: 2vh 0;
    padding: 2vh 1vw;
    display: grid;
    border-bottom: rgba(255, 255, 255, 0.26) 2px solid;
    grid-template-columns: 2fr 5fr 1fr 1fr;
    grid-template-areas: 
    "img desc quant price";
    align-content: space-between;
    justify-content: space-around;
}

.MaterialIcons {
    cursor: pointer;
    user-select: none;
}

.CardThumbnail img {
    max-height: 50px;
    max-width: 50px;
    margin: 0; 
}

.Remove {
    grid-area: del;
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto; 
}

.CardThumbnail {
    grid-area: img;
    display: flex;
    align-items: center;
}

.CardDescription {
    grid-area: desc;
    margin: 0; 
    padding: 0vh 1vw;
}

.CardQuantity {
    grid-area: quant;
    display: flex;
    align-items: center;
    margin: auto;
}

.CardPrice {
    grid-area: price;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: auto;
}




@media only screen and (min-width: 600px) {
    /* For tablets: */
     
    .CardThumbnail img {
        max-height: 100px;
        max-width: 130px;
    }
    
    
    

}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .CardThumbnail img {
        max-height: 130px;
        max-width: 160px;
    }
    .Item {
        margin: 0vh 0;
        padding: 3vh 1vw;
    }
}