.Item {
    width: 100%;
    margin: 1vh auto;
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    font-size: 13px;
    align-content: space-around !important;
}
.MaterialIcons {
    cursor: pointer;
    user-select: none;
}

.CardThumbnail {
    min-height: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; 
}

.CardThumbnail img {
    width: 100%;
    max-height: 250px;
    max-width: 250px;
    margin: 0; 
}

.CardName {
    font-size: 22px;
}

.CardDescription {
    font-size: 18px;
}

.Cardprice {
    font-size: 18px;
}


.CardReviews {
    padding: 0 0 2vh;
    margin: 0 25vw 2vh;
    border-bottom: 2px solid rgb(151, 151, 151);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardQuantityWrapper{
    font-size: 16px;
}

.CardQuantity {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    border: black solid 1px;    
}

.CardPrice {
    font-size: 16px;
    margin: auto;
    padding: 1vh 2vw;
    border: rgb(0, 0, 0) solid 1px;
    cursor: pointer;
}

.CardStock {
    font-size: 16px;
}

.CardPriceWrapper {
    display: flex;
}

.CardTitle {
    display: flex;
}

.CardSold {
    font-size: 16px;
}
.Arrow {
    font-size: 18px !important;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .CardTitle {
        justify-content:left;
    }
    
    .Item {
        width: 30%;
    }
    .CardName {
        font-size: 26px;
    }
    .CardDescription {
        font-size: 20px;
    }
    .Cardprice {
        font-size: 20px;
    }
    
    .CardReviews {
        justify-content: start;
        margin: 0 0 2vh;
        font-size: 16px;
    }

    .CardQuantityWrapper {
        font-size: 16px;
    }
    .CardStock {
        font-size: 16px;
    }
    .CardSold {
        font-size: 16px;
    }
    .CardPrice {
        font-size: 18px;
    }
    .Arrow {
        font-size: 20px !important;
    }
    .MaterialIcons {
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .CardThumbnail img {

    }
    .Item {
        width: 21%;
    }
    .CardName {
        font-size: 30px;
    }
    .CardDescription {
        font-size: 24px;
    }
    .Cardprice {
        font-size: 24px;
    }
    .CardReviews {       
        font-size: 16px;
    }
    .CardQuantityWrapper {
        font-size: 16px;
    }
    .CardStock {
        font-size: 16px;
    }
    .CardSold {
        font-size: 16px;
    }
    .CardPrice {
        font-size: 18px;
    }
}